<!DOCTYPE html>
<html>
<head>
  <title>Update Passes</title>
  <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
  <div class="container">
  {{ template "templates/menu.html" . }}
  <div class="passes">
    <h2>Update cards:</h2>
    <form method="post" enctype="multipart/form-data">
    {{ range .passes }}
    <div class="updatepass">
      <label for="{{ . }}">Upload {{ . }}</label><br>
      <input type="file" id="{{ . }}" name="{{ . }}" accept=".pkpass"/>
    </div>
    {{ end }}
    <div class="submitButton">
      <input type="submit" value="SUBMIT"/>
    </div>
    </form>
  </div>
  </div>
</body>
</html>